<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.techtrivia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".ResultsActivity"
            android:label="Results"
            android:screenOrientation="portrait"
            android:theme="@style/QuestionsTheme"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".TermsQuestionThreeActivity"
            android:label="Terms Question 3"
            android:screenOrientation="portrait"
            android:theme="@style/QuestionsTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".TermsQuestionTwoActivity"
            android:label="Terms Question 2"
            android:screenOrientation="portrait"
            android:theme="@style/QuestionsTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".TermsQuestionOneActivity"
            android:label="Terms Question 1"
            android:screenOrientation="portrait"
            android:theme="@style/QuestionsTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".PeopleQuestionThreeActivity"
            android:label="People Question 3"
            android:screenOrientation="portrait"
            android:theme="@style/QuestionsTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".PeopleQuestionTwoActivity"
            android:label="People Question 2"
            android:screenOrientation="portrait"
            android:theme="@style/QuestionsTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".PeopleQuestionOneActivity"
            android:label="People Question 1"
            android:screenOrientation="portrait"
            android:theme="@style/QuestionsTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".DeviceQuestionThreeActivity"
            android:label="Device Question 3"
            android:screenOrientation="portrait"
            android:theme="@style/QuestionsTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".DeviceQuestionTwoActivity"
            android:label="Device Question 2"
            android:screenOrientation="portrait"
            android:theme="@style/QuestionsTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".DeviceQuestionOneActivity"
            android:label="Device Question 1"
            android:screenOrientation="portrait"
            android:theme="@style/QuestionsTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".CategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>